/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PfefferMediaeval";
  src: url("./fonts/Pfeffermediaeval-n3eV.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Pfeffermediaeval-n3eV.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Pfeffermediaeval-n3eV.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Pfeffermediaeval-n3eV.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Pfeffermediaeval-n3eV.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Pfeffermediaeval-n3eV.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Pfeffermediaeval-n3eV.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}