/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "RomanCaps";
  src: url("./fonts/RomanCaps-7BMl.eot"); /* IE9 Compat Modes */
  src: url("./fonts/RomanCaps-7BMl.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/RomanCaps-7BMl.otf") format("opentype"), /* Open Type Font */
    url("./fonts/RomanCaps-7BMl.svg") format("svg"), /* Legacy iOS */
    url("./fonts/RomanCaps-7BMl.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/RomanCaps-7BMl.woff") format("woff"), /* Modern Browsers */
    url("./fonts/RomanCaps-7BMl.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}