/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "BlackWindow";
  src: url("./fonts/BlackWindow-WEyG.eot"); /* IE9 Compat Modes */
  src: url("./fonts/BlackWindow-WEyG.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/BlackWindow-WEyG.otf") format("opentype"), /* Open Type Font */
    url("./fonts/BlackWindow-WEyG.svg") format("svg"), /* Legacy iOS */
    url("./fonts/BlackWindow-WEyG.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/BlackWindow-WEyG.woff") format("woff"), /* Modern Browsers */
    url("./fonts/BlackWindow-WEyG.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}