/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "TychosElegy";
  src: url("./fonts/Tychoselegy-1qlv.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Tychoselegy-1qlv.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Tychoselegy-1qlv.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Tychoselegy-1qlv.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Tychoselegy-1qlv.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Tychoselegy-1qlv.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Tychoselegy-1qlv.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}