/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SpencerianScriptSW-Regular";
  src: url("./fonts/SpencerianScriptSw-4odK.eot"); /* IE9 Compat Modes */
  src: url("./fonts/SpencerianScriptSw-4odK.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/SpencerianScriptSw-4odK.otf") format("opentype"), /* Open Type Font */
    url("./fonts/SpencerianScriptSw-4odK.svg") format("svg"), /* Legacy iOS */
    url("./fonts/SpencerianScriptSw-4odK.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/SpencerianScriptSw-4odK.woff") format("woff"), /* Modern Browsers */
    url("./fonts/SpencerianScriptSw-4odK.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}