/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "kochblack";
  src: url("./fonts/KochBlack-rDqB.eot"); /* IE9 Compat Modes */
  src: url("./fonts/KochBlack-rDqB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/KochBlack-rDqB.otf") format("opentype"), /* Open Type Font */
    url("./fonts/KochBlack-rDqB.svg") format("svg"), /* Legacy iOS */
    url("./fonts/KochBlack-rDqB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/KochBlack-rDqB.woff") format("woff"), /* Modern Browsers */
    url("./fonts/KochBlack-rDqB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}